/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

ul{
    list-style: none;
}

/* header */
.intestazione{
    height: 100px;
    padding-left: 20px;
    line-height: 100px;
    background-color: white;
}

.logo{
    height: 75px;
    vertical-align: middle;
}

.main-title{
    display: inline-block;
    font-size: 3.5rem;
    vertical-align: middle;
}

/* main */
.card{   
    width: 800px;
    height: 800px;
    margin: 40px auto;
    border-radius: 10px;
    border-bottom: 5px solid #f6f8f9;
    background-color: white;
}

.button-container{
    padding: 20px 0px 10px 50px;
    border-bottom: 5px solid #f6f8f9;
}

.button{
    display: inline-block;
    padding: 3px 15px;
    border: 2px solid #cfd4d8;
    border-radius: 10px;
    color: #cfd4d8;
    line-height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

#higlighted{
    background-color: #42aaf0;
    color: white;
}

/* contenuto cards */
.tab-container{
    margin: 30px;
}

.sign{
    display: inline-block;
    width: 20px;
    border: 1px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 1rem;
    vertical-align: center;
}

.check{
    border-color: green;
    color: green;
}

.cross{
    border-color: red;
    color: red;
}

.section-title{
    font-size: 1.6rem;
}

.task{
    padding: 5px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin: 5px;
}

.sign{
    vertical-align: center;
    margin: 5px;
}

.badge{
    padding: 5px 10px;
    margin-right: 3px;
    border-radius: 15px;
    font-size: 0.7rem;
    color: white;
    vertical-align: middle;
}

.editorial{
    background-color: #45abea;
}

.q1goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29d32;
}

.website{
    background-color: #d863a1;
    
}

.sales{
    background-color: #b0c826;
}


